trigger:
  branches:
    include:
    - main
    - develop
 
pr:
  branches:
    include:
    - main
    - develop
 
pool:
  vmImage: ubuntu-latest
 
variables:
- group: azure-openai-vars
 
jobs:
- job: GenerateAndTestPython
  displayName: Generate Tests with Azure OpenAI and Run
 
  steps:
  - task: UsePythonVersion@0
    displayName: Set up Python 3.11
    inputs:
      versionSpec: 3.11
      addToPath: true
 
  - script: |
      python -m pip install --upgrade pip
      pip install openai pytest pytest-cov
    displayName: Install Python dependencies
 
  - script: |
      if [ -f requirements.txt ]; then
        pip install -r requirements.txt
      fi
    displayName: Install project dependencies
 
  - script: python generate-tests.py
    displayName: Generate unit tests with Azure OpenAI
    env:
      AZURE_OPENAI_ENDPOINT: $(AZURE_OPENAI_ENDPOINT)
      AZURE_OPENAI_KEY: $(AZURE_OPENAI_KEY)
      AZURE_OPENAI_DEPLOYMENT: $(AZURE_OPENAI_DEPLOYMENT)
 
  - script: |
      mkdir -p test-results
      pytest tests/ -v --junitxml=test-results/pytest.xml --cov=. --cov-report=xml --cov-report=html
    displayName: Run generated tests
    continueOnError: true
 
  - task: PublishTestResults@2
    displayName: Publish test results
    inputs:
      testResultsFormat: JUnit
      testResultsFiles: test-results/pytest.xml
      failTaskOnFailedTests: false
      testRunTitle: Python Tests
    condition: succeededOrFailed()
 
  - task: PublishCodeCoverageResults@2
    displayName: Publish code coverage
    inputs:
      codeCoverageTool: Cobertura
      summaryFileLocation: $(System.DefaultWorkingDirectory)/coverage.xml
      pathToSources: $(System.DefaultWorkingDirectory)
    condition: succeededOrFailed()
 
  - task: PublishBuildArtifacts@1
    displayName: Publish coverage HTML
    inputs:
      PathtoPublish: htmlcov
      ArtifactName: coverage-report
      publishLocation: Container
    condition: succeededOrFailed()